# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
wordbook.sql
/public/tinymce/

server/server_dist

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

chatgpt-next.tar
spchatgpt.tar

src-tauri/target/**
*.mp4

/Utils/Recorder
docs
tempStorage
.env