VITE_SSO_SERVER_URL=http://localhost:5555
VITE_SSO_HOME_URL=http://localhost:3033
VITE_SSO_CLIENT_ID=8c1dd65d-7d2a-4ba4-aff1-610960a295e7
VITE_SSO_REDIRECT_URI=http://localhost:5173
VITE_SSO_AUTO_REFRESH=true
