VITE_SSO_SERVER_URL=http://localhost:5556
VITE_SSO_HOME_URL=http://localhost:3033
VITE_SSO_CLIENT_ID=6a7db4e5-1c21-4cf1-92c9-507a0f924e29
VITE_SSO_REDIRECT_URI=http://localhost:5174
VITE_SSO_AUTO_REFRESH=true
